html{
    height:100%;
}
body {
  background: #DDDDDD;
  height: 100%;
}

.navbar {
    background-color: #96C7CA;
    color: white;
    /* justify-content: center; */
    height: 60px;
    z-index: 100;
}

.page-container {
    margin-top: 75px;
    width: auto;
}

.side-nav {
    max-width: 400px;
    background-color: white;
}

.navbar-collapse.side-nav {
    padding-left: 0;
    padding-right: 0;
}

.upper-side-nav {
    height: 30%;
    max-height: 250px;
    background-color: #86B7BA;
    padding: 20px;
}

.navbar-collapse {
    position: fixed;
    top: 60px; /* adjust to height of navbar */
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 75%;
    height: 100%;
}

.navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
}

.navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
}

.navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
}

#signOutSideNavButton {
    position: absolute;
    display: inline-block;
    bottom: 60px;
}

#fab {
    background: gray;
    color: white;
    position: fixed;
    top: 2px;
    right: 10px;
    z-index: 999;
}

#fab:active {
    opacity: 0.8;
    transform: translateY(2px);
}

#newListModal {
    height: 100vh;
}

#Modal{
    height: 100vh;
    background: #96C7CA;
}

#newListModal .material-icons{
    font-size: 48px;
}

.input, .input:active, .input:focus{
    background: transparent;
    border:transparent;
    /* font-size: larger; */
}

.emptyPage{
    height: 180px;
    width: auto;
    background: #DDDDDD70;
    color: black;
    text-align:center;
    font-size: larger;
    font-family: 'Permanent Marker', cursive;
}

.card{
    height: 25rem;
    width: 18rem;
    background-color: #96C7CA;
    margin:20px;
    display: inline-flex;
    font-family: 'Permanent Marker', cursive;
    /* Firefox */
    -moz-box-shadow:7px 7px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 7px 7px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 7px 7px 7px rgba(33,33,33,.7);
}

.card .checkbox {
    font-family: 'Handlee', cursive;
}

#expandedList{
    height: calc(90vh - 75px);
    width: 70vw;
    background-color: #96C7CA;
    margin:20px;
    padding: 5px 40px;
    display: inline-flex;
    font-family: 'Permanent Marker', cursive;
    /* Firefox */
    -moz-box-shadow:7px 7px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 7px 7px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 7px 7px 7px rgba(33,33,33,.7);
}

.list-items {
    font-family: 'Handlee', cursive;
}

#expandedList .card-title {
    text-align: center;
    font-size: 3em;
    width: 100%;
}

.list-items label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
    height: 100%;
    width:100%;
}

.list-items input {
    font-size: 1.25rem;
    padding:0;
    margin:0;
    width: 100%;
    vertical-align: middle;
    /* color: grey; */
}

#listPage{
    margin: 0;
    padding: 80px 15px 0 15px;
    width:100%;
    height:100%;
}

#backgroundHolder{
    background: url(../images/boardBackground1.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

#loginPage {
    background-color: #96C7CA;
    height:100vh;
    width:100vw;
    margin:0;
}

#loginTitle {
    text-align: center;
    font-size: 10em;
    font-family: 'Permanent Marker', cursive;
}

.profile-picture {
    border-radius: 50%;
    align-self: center;
}

.upper-side-nav > .profile-picture {
    height: 60%;
}

#profilePictureContainer > .profile-picture {
    height: 80%;
}

.item{
    display: inline-block;
}

#profilePage {
    text-align: center;
    font-size: 1.5em;
}

#profilePictureContainer {
    height: 250px;
    display: flex;
    justify-content: center;
}

#listContainer {
    width: 100%;
}

.hidden, #expandedList.hidden {
    display: none;
}

@media (max-width: 575px) {
    #loginTitle {
        font-size: 5em;
    }
}
@media (max-width: 380px) {
    .card{
        height: 12.5rem;
        width: 9rem;
        margin:10px;
    }
}

.checkbox label input[type=checkbox]:checked+.checkbox-decorator .check:before, label.checkbox-inline input[type=checkbox]:checked+.checkbox-decorator .check:before {
    color: bisque;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    animation: b .3s forwards;
}

#expandedList .checkbox label .checkbox-decorator, #expandedList label.checkbox-inline .checkbox-decorator {
    position: relative;
    margin:0;
    padding:0;
}

/* #expandedList .is-focused{
    background: transparent;
    border: transparent;
} */

:focus{
    outline: aliceblue;
}