body {
    background: url(../images/boardBackground1.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;

}

.navbar {
    background-color: #96C7CA;
    color: white;
justify-content: center;
}

.page-container {
    margin-top: 75px;
}

#fab {
    background: gray;
    color: white;
    position: fixed;
    right: 10px;
    z-index: 999;
}

#fab:active {
    opacity: 0.8;
    transform: translateY(2px);
}
